**/__pycache__
.idea/
/checkpoint/
/mini_live/pt/
/web_demo_authorized/
/utils/
# 忽略 video_data 文件夹下的所有内容
video_data/*
!video_data/000001/
!video_data/000002/
!video_data/teeth_ref/
video_data/teeth_ref/*_2.png
!video_data/test/
!video_data/audio1.wav

/web_demo/static/ios_test.html