beautifulsoup4==4.12.3
dominate==2.9.0
fastapi==0.111.1
kaldi_native_fbank==1.19.1
librosa==0.10.1
mediapipe==0.10.11
numpy==1.24.3
opencv_contrib_python==4.8.1.78
opencv_python==4.9.0.80
pandas==2.0.3
Pillow==9.4.0
Pillow==10.4.0
Requests==2.32.3
scipy==1.11.1
sounddevice==0.4.6
thop==0.1.1.post2209072238
torch==2.1.1+cu121
torchvision==0.16.1+cu121
tqdm==4.65.0
tqdm==4.66.4
uvicorn==0.30.3
visdom==0.2.4
wandb==0.16.5
